/* Universal Styles */
body {
  background: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  margin: 2rem 0;
}

h1 {
  font-size: 1.75rem;
}

#theme-div {
  display: flex;
}

#theme-div > span {
  font-size: .75rem;
  align-self: end;
  padding: 0 1rem .3rem 0;
  text-transform: uppercase;
}

#theme-selector {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#theme-selector > span {
  flex: 3;
}

#theme-selector > div {
  flex: 1 100%;
  padding: .75rem 2rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 500px;
  position: relative;
}

#theme-selector > div > span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
}
/* Main */
main {
  padding: 0 1rem;
}

#calculator-result {
  width: 100%;
  padding: 1rem;
  text-align: end;
  background-color: hsl(224, 36%, 15%);
  border-radius: 10px;
  font-size: 2rem;
  margin: 1rem 0;
}

#calculator-keypad {
  background-color: hsl(223, 31%, 20%);
  padding: 1rem;
  border-radius: 10px;
}

#calculator-keys-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, auto);
  text-align: center;
  gap: 1rem;
}

.calculator-key {
  display: inline-grid;
  height: 100%;
  padding: 1rem;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  border-radius: 5px;
  font-size: 2rem;
  align-content: center;
  box-shadow: 0 .25rem hsl(28, 16%, 65%);
  cursor: pointer;
}

#delete-key, #reset-key {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  box-shadow: 0 0.25rem hsl(224deg 28% 35%);
}

#reset-key {
  grid-column: 1 / 3;
}

#enter-key {
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
  grid-column: 3 / 5;
  box-shadow: 0 0.25rem hsl(6, 70%, 34%);
}
#delete-key, #reset-key, #enter-key {
  font-size: 1.25rem;
}